/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: rgb(162, 163, 163);
}

/* 2. Content ================================= */
.sundae{

	.icecream{
		
		top: 25%;
		.scoop{
			width: 70px;
			height: 70px;
			position: absolute;
			border-radius: 100%;
			
			transform: translate(-50%, -50%);
		}
		.vanilla{
			top: 25%;
			left: 40%;
			background-color: rgb(241, 241, 198);
		}
		.chocolate{
			top: 25%;
			left: 45%;
			background-color: rgb(59, 46, 34);
		}
		.strawberry{
			top: 25%;
			left: 50%;
			background-color: rgb(173, 84, 84);
		}
		.top{
			top: 21%;
			left: 45%;
			width: 75px;
			height: 75px;
			background-color: rgba(243, 239, 239, 0.966);
		}
		.banana{
			z-index: -1;
			top: 20%;
			left: 33%;
			width: 250px;
			height: 80px;
			border-radius: 60%;
			position: absolute;
			box-shadow: 5px 25px 0 0 rgb(241, 241, 148);
		}

	}
	
	.bowl{
		z-index: 1;
		position: absolute;
		top: 33%;
		left: 45%;
		transform: translate(-50%, -50%);
		height: 75px;
		width: 240px;
		border-radius: 0 0 150px 150px;
		background-color: rgb(168, 219, 217);
		.bottom{
			top: 95%;
			left: 50%;
			height: 30px;
			width: 150px;
			background-color: rgb(168, 219, 217);
			border-radius: 150px 150px 0 0;
		}
	}

}




