/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@use 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: rgb(188, 167, 236);
	font-family: 'Oswald', sans-serif;
}

/* 2. Content ================================= */

	
	

	.container-s{
		width: 400px;
		height: 400px;
		border: solid white 2px;
		position: relative;
		p{
			color: white;
			font-size: 5em;
			position: absolute;
			top: 15%;
			left: 10%;
		}
		.sundae-container{
			position: absolute;
			left:25%;
			top:35%;
			.cherry{
				position: absolute;
				z-index: 1;
				top: -85%;
    			left: 105%;
    			width: 25px;
    			height: 25px;
				border-radius: 50%;
				background: rgb(243, 73, 22);
				animation-name: cherry-drop;
				animation-duration: 3.5s;
				animation-iteration-count: infinite;
			}
			.whip-cream{
				position: absolute;
				top: -70%;
    			left: 70%;
				width: 80px;
				height: 80px;
				border-radius: 50%;
				background: rgb(245, 243, 231);
				animation-name: cream-drop;
				animation-duration: 3s;
				animation-iteration-count: infinite;
			}
			.scoop{
				// position: absolute;				
				width: 80px;
				height: 80px;
				border-radius: 50%;
				background: rgb(245, 240, 193);
			}
			.scoop:nth-child(3){
				background: rgb(83, 55, 18);
				position: absolute;
				top: 0%;
				left: 65%;
				animation-name: chocolate-drop;
				animation-duration: 2s;
				animation-iteration-count: infinite;
			}
			.scoop:nth-child(4){
				background: rgb(243, 127, 123);
				position: absolute;
				top:0%;
				left:135%;
				animation-name: berry-drop;
				animation-duration: 2.5s;
				animation-iteration-count: infinite;
			}
			.banana{
				z-index: -1;
				top: -25%;
				left: -45%;
				width: 250px;
				height: 80px;
				border-radius: 60%;
				position: absolute;
				box-shadow: 5px 25px 0 0 rgb(241, 241, 148);
			}
			.bowl{
				z-index: 1;
			position: absolute;
			top: 85%;
    		left: -30%;
			height: 75px;
			width: 240px;
			border-radius: 0 0 150px 150px;
			background-color: rgb(168, 219, 217);
			.bowl-bottom{
				position: absolute;
    			top: 90%;
    			left: 20%;
				height: 30px;
				width: 150px;
				background-color: rgb(168, 219, 217);
				border-radius: 150px 150px 0 0;
				}
			}
			.spoon{
				position: absolute;
				top: -85%;
    			left: 185%;
				transform: rotate(-45deg);
				width:40px;
				height: 20px;
				background: rgb(105, 104, 104);
				border-radius: 100px / 50px;
				.spoon-handle{
					position: relative;
					top: 23%;
					left: 70%;
					width: 70px;
					height: 10px;
					border-radius: 100px / 50px;
					background: rgb(105, 104, 104);
				}
			}

			
		
		}
		


	}

	.container-p{
		width: 400px;
		height: 400px;
		border: solid white 2px;
		position: relative;

		p{
			color: white;
			font-size: 5em;
			position: absolute;
			top: 15%;
			left: 10%;
		}

		.playstation-container{
			position: absolute;
			left:25%;
			top:25%;
			.block{
				width: 150px;
      			height: 70px;
      			transform: skew(-60deg);
     			
				// margin: 0 auto;
				// margin-top: 10px;
			}
			.black{
				background: black;
				
			}
			.black:nth-child(3){
				position: absolute;
				top:20%;
				z-index:-2;
			}
			.black:nth-child(5){
				position: absolute;
				top:40%;
				z-index:-4;
			}
			.blue{
				z-index: -1;
				position: absolute;
				top:10%;
				background: rgb(43, 71, 228);
			}
			.blue:nth-child(4){
				position: absolute;
				top:30%;
				z-index:-3;
			}
		}

		.controller-container{
			position: absolute;
			left:50%;
			top:50%;
			.controller-part-one{
				position: relative;
				width: 140px;
				height: 60px;
				margin: 20px 0;
				background: rgb(24, 22, 22);
				border-radius: 50% / 10%;
				color: white;
				text-align: center;
				text-indent: .1em;
				&:before {
					content: '';
					position: absolute;
					top: 10%;
					bottom: 10%;
					right: -5%;
					left: -5%;
					background: inherit;
					border-radius: 5% / 50%;
				  }
			}
			.controller-part-two{
				position: relative;
				width: 90px;
				height: 30px;
				margin: 20px 0;
				background: rgb(24, 22, 22);
				border-radius: 50% / 10%;
				color: white;
				text-align: center;
				text-indent: .1em;
				&:before {
					content: '';
					position: absolute;
					top: 10%;
					bottom: 10%;
					right: -5%;
					left: -5%;
					background: inherit;
					border-radius: 5% / 50%;
				  }
				 
			}
			.left{
				position: absolute;
				transform: rotate(90deg);
				top:35%;
				right:60%;
			}
			.middle{
				position: absolute;
				width: 60px;
				height:40px;
				top: 18%;
    			right: 28%;
				background: rgb(54, 51, 51);
			}
			.right{
				position: absolute;
				transform: rotate(90deg);
				top:35%;
				left:60%;
			}
			.controller-part-three{
				position: absolute;
				width: 45px;
				height:45px;
				background-color: rgb(90, 88, 88);
				border-radius: 50%;
				z-index: 1;
				top:10%;
				right:70%;

				.top{
					position: absolute;
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
      				border-right: 5px solid transparent;
      				border-bottom: 10px solid rgb(37, 37, 37);
					z-index: 2;
					top:10%;
					left: 40%;
				}
				.bottom{
					position: absolute;
					width: 0;
      				height: 0;
      				border-left: 5px solid transparent;
      				border-right: 5px solid transparent;
      				border-top: 10px solid rgb(37, 37, 37);
					z-index: 2;
					bottom: 11%;
					left: 40%;
				}
				.side-right{
					position: absolute;
					width: 0;
					height: 0;
					border-top: 5px solid transparent;
					border-right: 10px solid rgb(37, 37, 37);
					border-bottom: 5px solid transparent;
					bottom: 37%;
					right: 65%;
				
				}
				.side-left{
					position: absolute;
					width: 0;
      				height: 0;
      				border-top: 5px solid transparent;
      				border-left: 10px solid rgb(37, 37, 37);
      				border-bottom: 5px solid transparent;
					top: 40%;
					left: 65%;
				}
			}
			.controller-part-three:nth-child(5){
				top:10%;
				left:70%;
				.top{
					position: absolute;
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
      				border-right: 5px solid transparent;
      				border-bottom: 10px solid rgb(37, 37, 37);
					z-index: 2;
					top:10%;
					left: 40%;
				}
				.bottom{
					position: absolute;
					width: 0;
      				height: 0;
      				border-left: 5px solid transparent;
      				border-right: 5px solid transparent;
      				border-top: 10px solid rgb(37, 37, 37);
					z-index: 2;
					bottom: 11%;
					left: 40%;
				}
				.side-right{
					position: absolute;
					width: 0;
					height: 0;
					border-top: 5px solid transparent;
					border-right: 10px solid rgb(37, 37, 37);
					border-bottom: 5px solid transparent;
					bottom: 37%;
					right: 65%;
				
				}
				.side-left{
					position: absolute;
					width: 0;
      				height: 0;
      				border-top: 5px solid transparent;
      				border-left: 10px solid rgb(37, 37, 37);
      				border-bottom: 5px solid transparent;
					top: 40%;
					left: 65%;
				}
			}
			.controller-part-four{
				position: absolute;
				width: 30px;
				height:30px;
				background-color: rgb(138, 136, 136);
				border-radius: 50%;
				z-index: 1;
				top:50%;
				right:55%;
				
				.nubs-left{
				position: absolute;
				width: 20px;
				height:20px;
				background-color: rgb(58, 57, 57);
				border-radius: 50%;
				z-index: 1;
				top:15%;
				right:18%;
				}
				.nubs-right{
					position: absolute;
					width: 20px;
					height:20px;
					background-color: rgb(58, 57, 57);
					border-radius: 50%;
					z-index: 1;
					top:15%;
					left:18%;
					}
			}
			.controller-part-four:nth-child(7){
				top:50%;
				left:55%
			}
			
		
		}
	}


	//kayframes

	@keyframes cherry-drop{
		0%{
			top:-250%;
			
		}
		100%{
			top:-85%;
		}
	}
	@keyframes cream-drop{
		0%{
			top:-250%;
			
		}
		100%{
			top:-85%;
		}
	}
	@keyframes chocolate-drop{
		0%{
			top:-250%;
			
		}
		100%{
			top:0%;
		}
	}
	@keyframes berry-drop{
		0%{
			top:-250%;
			
		}
		100%{
			top:0%;
		}
	}
	
	

	